/* imports the Inika font */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
.background {
    background-image: url('/images/Background.jpg');
    margin: 0;
    padding: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    font-family: Inika;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 100px;
    border-radius: 80px;
    background: rgba(76, 92, 126, 0.80);
    padding: 50px;
}

#toplevel {
    text-align: center;
}

.background h1 {
    font-family: 'Inika';
    position: relative;
    bottom: 140px;
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    margin: 0px;
    font-weight: 900;
}

.demo h2 {
    font-family: 'Inika';
    color: #FFF;
    text-align: center;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin: 25px;
}

