.page {
    background-image: url('/images/Background.jpg');
    margin: 0px;
    padding: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    
}

h1 {
   

text-align: center;
-webkit-text-stroke-width: 5;
-webkit-text-stroke-color: #000;
font-family: Inika;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 250%; /* 240px */
}