/* imports the Inika font */
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

.page {
    background: #D6D1D1;
    margin: 0;
    padding: 200px;
}

.page h1{
    color: rgba(54, 57, 59, 0.50);
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgba(54, 57, 59, 0.50);
}

.container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    bottom: 100px;
    border-radius: 69px;
    background: rgba(106, 159, 165, 0.50);
    margin: 0;
    padding: 100px;
    font-family: 'Inika';
}

#star{
    position: absolute; 
    top: 70px; 
    left: 0; 
    transform: translate(-50%, -50%);
}

.logo{
    width: 100px;
    position: relative;
    left:auto;
    border-radius: 20%;
}

a {
    text-decoration: none;
    color: #7F94B4;
    margin: 0;
}

a:hover{
    background-color: rgb(99, 103, 103);
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
}